.last-line{
    width: 345px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.001em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}

.button-login{
    width: 346px;
    height: 48px;
    padding: 12px 99px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    background: #c2c0c0;
    border: none;
    color: white;
}
.google-login{
    width: 346px;
    height: 48px;
    gap: 10px;
    border-radius: 8px;
    border: 0.25px solid hsla(207, 4%, 60%, 1)
}

.forget{
    width: 346px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.001em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: hsla(272, 65%, 30%, 1);

        
}

.margin-left-40{
    width: 384px;
    height: 40px;
    margin-top: 76px;
    margin-left: 450px;
    gap: 4px;
    opacity: 0px;
    
}

.mainnnnn{
font-size: 28px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.001em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}