.col-8{
    border: 1px solid #c2c0c0;
    border-radius: 5px;
    min-height: 10vh;
    margin-left: 10px;
    width: 400px
    
}
.ml-res{
    margin-left: 60%;
}
.col-8 p {
    width: 360px;
    word-break: break-word;
}
/* Medium Desktop */
.col-8 h4 { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 300px; 
    height: 1.2em; 
    white-space: nowrap;
  }
@media (min-width: 1366px) and (max-width:1500px) {
    .col-8{
        width: 320px;    }
        .ml-res{
            margin-left: 50%;
        }
        .col-8 p {
            width: 300px;
        }
}
@media (min-width: 1280px) and (max-width:1366px) {
    .col-8{
        width: 270px;    }
        .ml-res{
            margin-left: 40%;
        }
        .col-8 p {
            width: 250px;
        }
}
@media (min-width: 1100px) and (max-width:1280px) {
    .col-8{
        width: 240px;    }
        .ml-res{
            margin-left: 30%;
        }
        .col-8 p {
            width: 200px;
        }
}
@media (min-width: 800px) and (max-width:1100px) {
    .col-8{
        width: 200px;
    }
    .ml-res{
        margin-left: 20%;
    }
    .col-8 p {
        width: 150px;
    }
}
@media (min-width: 600px) and (max-width:800px) {
    .col-8{
        width: 160px;
    }
    .ml-res{
        margin-left: 10%;
    }
    .ml-res button{
        font-size: 10px
    }
    .col-8 p {
        width: 120px;
    }
}
@media (min-width: 300px) and (max-width:600px) {
    .col-8{
        width: 130px;
    }
    .ml-res{
        margin-left: 5%;
    }
    .ml-res button{
        font-size: 10px
    }
    .col-8 p {
        width: 100px;
    }
}