.sidebar{
    background: #FCFCFC;
    left: 0;
    height: 100%;
    position: fixed;
    opacity: 1;
    visibility: visible;
    display: block;
    width: 10%;
}
.sidebar p{
    margin:0 0 0 20px;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
}
.projects{
    margin: 28px;
}
.active{
    background: hsla(273, 4%, 50%, 0.1);
    color: rgb(0, 0, 0);
}

.cursor-pointer{
    cursor: pointer;
}


.logout{
    margin-left: 15px;
    margin-top: 70vh;
    cursor: pointer;
}

/* Medium Desktop */
@media (min-width: 1366px) {
    .sidebar p{
        font-size: 20px;    }}
@media (min-width: 1280px) and (max-width:1366px) {
    .sidebar p{
        font-size: 17px;    }
}
@media (min-width: 1100px) and (max-width:1280px) {
    .sidebar p{
        font-size: 15px;    }
}
@media (min-width: 800px) and (max-width:1100px) {
    .sidebar p{
        font-size: 13px;
    }
}
@media (min-width: 600px) and (max-width:800px) {
    .sidebar p{
        font-size: 10px;
    }
}
@media (min-width: 300px) and (max-width:600px) {
    .sidebar p{
        font-size: 9px;
    }
}