/* Medium Desktop */
/* @media (min-width: 1366px) {
    .row{
        margin-left: 3%;
    }}
@media (min-width: 1280px) and (max-width:1366px) {
    .row{
        margin-left: 5%;
    }
}
@media (min-width: 1100px) and (max-width:1280px) {
    .row{
        margin-left: 7%;
    }
}
@media (min-width: 800px) and (max-width:1100px) {
    .row{
        margin-left: 16%;
    }
}
@media (min-width: 600px) and (max-width:800px) {
    .row{
        margin-left: 24%;
    }
} */
 
.col-4{
    border: 1px solid #c2c0c0;
    border-radius: 5px;
    min-height: 10vh;
    margin-left: 10px;
    width: 400px
}