<div class="row mt-4">
    <div class="col-4 mb-3">
        <span class="row text-center d-block">Total project</span>
        <span class="row text-center d-block">{{projectCount}}</span>
    </div>
    <div class="col-4 mb-3">
        <span class="row text-center d-block">Total task done</span>
        <span class="row text-center d-block">{{doneCount}}</span>
    </div>
    <div class="col-4 mb-3">
        <span class="row text-center d-block">Total task in progress</span>
        <span class="row text-center d-block">{{progCount}}</span>
    </div>
</div>