<button class="btn btn-md btn-outline-secondary me-4 float-end mt-2" (click)="open(content,false)">Create project</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (proj of projects; track proj; let i = $index) {
            <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{proj.projectName}}</td>
                <td>{{proj.projectDescription}}</td>
                <td>{{proj.projectStartDate}}</td>
                <td>{{proj.projectStatus}}</td>
                <td>    
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn bg-none border-none" id="dropdownBasic1" ngbDropdownToggle>
                                Actions
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem [routerLink]="['../project/',proj.projectName]">View</button>
                                <button ngbDropdownItem (click)="open(content,true,proj)">Edit</button>
                                <button ngbDropdownItem (click)="deleteProject(proj.projectName!)">Delete</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{isEdit ? 'Edit' : 'Create'}} Project</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="projectForm">
            <div class="row">
                @if(!isEdit){
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project name</label>
                        <input type="text" formControlName="projectName" class="form-control" id="projectName" placeholder="Enter project name">
                    </div>
                }
                <div class="mb-3">
                    <label for="projectDescription" class="form-label">Project description</label>
                    <textarea class="form-control" formControlName="projectDescription" id="projectDescription" rows="3" placeholder="Enter project description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="projectStartDate" class="form-label">Start Date</label>
                    <input type="date" formControlName="projectStartDate" class="form-control" id="projectStartDate">
                </div>
                <div class="mb-3">
                    <label for="creatorEmail" class="form-label">Creator Email</label>
                    <input type="email" readonly formControlName="creatorEmail" class="form-control" id="creatorEmail">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="saveForm()">{{isEdit ? 'Update' : 'Create'}} project</button>
    </div>
</ng-template>